.admin-order-items-form .order-items {
  position: relative;
}
.admin-order-items-form .order-items .order-item {
  position: relative;
  padding: 1em 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.admin-order-items-form .order-items .ajax-progress {
  position: absolute;
  bottom: 1em;
  right: 0;
  padding: 0;
}
